@layer base {
	:root {
		/* background colors */
		--color-background: 100% 0 0;
		/* foreground colors */
		--color-foreground: 15.4% 0 264.28;
		/* neutral colors */
		--color-neutral-50: 96% 0 0;
		--color-neutral-100: 90% 0 277.12;
		--color-neutral-200: 49.55% 0.026 265.57;
		--color-neutral-300: 30.49% 0.031 263.95;
		--color-neutral-400: 24.31% 0.0096 264.28;
		--color-neutral-500: 15.4% 0 264.28;
		/* primary colors */
		--color-primary-50: 94.69% 0.017 286.06;
		--color-primary-100: 87.31% 0.056 284.06;
		--color-primary-200: 58.54% 0.204 277.12;
		/* secondary colors */
		--color-secondary-50: 97.53% 0.054 106.24;
		--color-secondary-100: 95.3% 0.105 107.07;
		--color-secondary-200: 92.78% 0.16 108.38;
		/* error colors */
		--color-error-50: 70.8% 0.1383 23.65;
		--color-error-100: 68.52% 0.2024 25;
		--color-error-200: 56.35% 0.2056 21.18;
		/* warning colors */
		--color-warning-50: 78.52% 0.1059 45.52;
		--color-warning-100: 72.64% 0.1629 45.52;
		--color-warning-200: 69.67% 0.1969 45.52;
		/* success colors */
		--color-success-50: 94.7% 0.1569 124.2;
		--color-success-100: 78.51% 0.1569 124.2;
		--color-success-200: 67.95% 0.1569 124.2;
		/* toast background color */
		--color-toast: var(--color-neutral-50);
	}

	[data-theme] {
		@apply transition-all duration-300 ease-in-out;
	}

	[data-theme='light'] {
		@apply bg-background text-foreground;
	}

	[data-theme='dark'] {
		--color-neutral-100: 71.15% 0.02 265.93;
		--color-background: 15.4% 0 264.28;
		--color-foreground: 100% 0 0;
		--color-toast: var(--color-neutral-400);
		@apply bg-background text-foreground;
	}
}
