@import './styles/variables.css';
@import './styles/typography.css';

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	/* selection styles */
	::selection {
		@apply bg-primary-200 text-white;
	}

	/* Autocomplete styles */
	input:-webkit-autofill,
	input:-webkit-autofill:hover,
	input:-webkit-autofill:focus,
	textarea:-webkit-autofill,
	textarea:-webkit-autofill:hover,
	textarea:-webkit-autofill:focus,
	select:-webkit-autofill,
	select:-webkit-autofill:hover,
	select:-webkit-autofill:focus {
		background: none;
		-webkit-text-fill-color: #fff;
		-webkit-box-shadow: 0 0 0 0 none inset;
		transition: background-color 5000s ease-in-out 0s;
	}

	@font-face {
		font-family: 'Mona Sans';
		src:
			url('/fonts/Mona-Sans.woff2') format('woff2 supports variations'),
			url('/fonts/Mona-Sans.woff2') format('woff2-variations');
		font-weight: 200 900;
		font-stretch: 75% 125%;
		font-display: swap;
	}

	* {
		@apply font-wide font-normal shadow-neutral-500 dark:shadow-neutral-50;
	}

	p {
		@apply font-extralight;
	}
}

@layer components {
	/* auth components */
	.input-auth {
		@apply flex w-full items-center justify-center rounded-xl bg-neutral-400 px-4 pb-2 pt-6 text-white placeholder-neutral-200 outline-none transition-all focus:bg-neutral-300 focus:placeholder-neutral-100;
	}
	.input-auth-label {
		@apply absolute bottom-0 top-0 ml-4 flex items-center text-neutral-200 transition-all focus:text-xs group-focus-within:bottom-1/2 group-focus-within:text-[12px] group-focus-within:text-neutral-100;
	}
	.btn-auth {
		@apply flex w-full items-center justify-center whitespace-nowrap rounded-xl border-none bg-primary-200 p-4 text-white transition-all hover:bg-opacity-90;
	}

	.btn-tertiary {
		@apply rounded-md bg-neutral-50 p-2 hover:bg-primary-200 hover:text-white dark:border-neutral-400 dark:bg-neutral-400 dark:hover:bg-primary-200 dark:hover:text-white;
	}

	/* card components */
	.card {
		@apply rounded-md bg-neutral-50 p-4 shadow-md transition-all duration-200 ease-in-out hover:scale-95 hover:shadow-xl dark:bg-neutral-400;
	}

	.card-disabled {
		@apply rounded-md border border-neutral-100 bg-transparent p-4 opacity-50 grayscale dark:border-neutral-200;
	}

	/* form components */
	.form-primary {
		@apply flex w-full max-w-xl flex-col items-start justify-center gap-2 pb-2 pt-6 text-white placeholder-neutral-200 outline-none transition-all focus:bg-neutral-300 focus:placeholder-neutral-100;

		label {
			@apply flex gap-1 text-xs text-neutral-500 dark:text-white;
		}

		label:has(+ input[required])::after {
			@apply text-sm text-error-100 content-["*"];
		}

		input {
			@apply mb-2;
		}

		.error {
			@apply border-error-200;
		}
	}

	/* button components */
	.btn-primary {
		@apply rounded-md border border-primary-200 bg-primary-200 px-2 py-1 text-sm transition-all duration-300 hover:bg-opacity-80;
	}

	.btn-secondary {
		@apply rounded-md border border-primary-200 bg-transparent px-2 py-1 text-sm text-primary-200 transition-all duration-300 hover:bg-primary-200 hover:text-white;
	}

	.btn-error {
		@apply rounded-md border border-error-200 bg-error-200 px-2 py-1 text-sm transition-all duration-300 hover:bg-opacity-80;
	}

	/* input components */
	.input-primary {
		@apply flex w-full items-center justify-center rounded-md bg-neutral-50 px-4 py-2 text-neutral-500 placeholder-neutral-200 outline-none transition-all focus:bg-neutral-100 focus:placeholder-neutral-200 dark:bg-neutral-400 dark:text-white dark:focus:placeholder-neutral-100;
	}
}

@layer utilities {
	.font-wide {
		font-stretch: 125%;
	}

	/* Hide scrollbar for Chrome, Safari and Opera */
	.no-scrollbar::-webkit-scrollbar {
		display: none;
	}

	/* Hide scrollbar for IE, Edge and Firefox */
	.no-scrollbar {
		-ms-overflow-style: none; /* IE and Edge */
		scrollbar-width: none; /* Firefox */
	}
}
