@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	@font-face {
		font-family: 'Mona Sans';
		src:
			url('/fonts/Mona-Sans.woff2') format('woff2 supports variations'),
			url('/fonts/Mona-Sans.woff2') format('woff2-variations');
		font-weight: 200 900;
		font-stretch: 75% 125%;
		font-display: swap;
	}

	:root [data-theme='invoicelink'] {
		--theme-font-family-base: 'Mona Sans', sans-serif;
		--theme-font-family-heading: 'Mona Sans', sans-serif;
		--theme-rounded-base: 8px;
		--theme-rounded-container: 14px;
	}
	/* selection styles */
	::selection {
		@apply bg-primary-500/50;
	}

	/* smoothly transition between theme modes */
	[data-theme='invoicelink'] {
		@apply bg-white transition-all duration-300 ease-in-out dark:bg-surface-900;
	}

	/* Autocomplete styles */
	input:-webkit-autofill,
	input:-webkit-autofill:hover,
	input:-webkit-autofill:focus,
	textarea:-webkit-autofill,
	textarea:-webkit-autofill:hover,
	textarea:-webkit-autofill:focus,
	select:-webkit-autofill,
	select:-webkit-autofill:hover,
	select:-webkit-autofill:focus {
		background: none;
		background-color: inherit;
		color: inherit !important;
		-webkit-box-shadow: 0 0 0 0 none inset;
		transition: background-color 5000s ease-in-out 0s;
	}

	input[type='number'] {
		-moz-appearance: textfield;
		appearance: textfield;
		margin: 0;
	}

	input[type='number']::-webkit-inner-spin-button,
	input[type='number']::-webkit-outer-spin-button {
		-webkit-appearance: none;
		margin: 0;
	}

	.dark input[type='date'] {
		color-scheme: dark;
	}

	* {
		@apply font-wide font-normal;
	}

	p {
		@apply font-light;
	}
}

@layer components {
	/* auth components */
	.input-auth {
		@apply flex w-full items-center justify-center rounded-xl border-none bg-surface-800 bg-opacity-80 px-4 pb-2 pt-6 text-white placeholder-surface-800 outline-none ring-0 transition-all focus:border-primary-500 focus:bg-opacity-100 focus:placeholder-surface-100 focus:ring-0;
	}

	.input-auth-label {
		@apply absolute bottom-0 top-0 ml-4 flex items-center text-surface-200 transition-all focus:text-xs group-focus-within:bottom-1/2 group-focus-within:text-[12px] group-focus-within:text-surface-100;
	}
	.btn-auth {
		@apply flex w-full items-center justify-center whitespace-nowrap rounded-xl border-none bg-primary-500 p-4 text-white transition-all hover:bg-opacity-90;
	}

	.settings-list {
		@apply border-surface-100-800-token mt-6 divide-y border-y text-sm leading-6;
	}

	.settings-list li {
		@apply border-surface-100-800-token flex flex-col items-start justify-between gap-x-6 gap-y-2 py-6 sm:flex-row sm:items-center;
	}

	.input-primary {
		@apply variant-soft bg-surface-100-800-token border-surface-100-800-token w-full rounded-lg border-none p-2 text-sm read-only:text-surface-500-400-token disabled:text-surface-500-400-token read-only:cursor-not-allowed focus:border-none focus:ring-0 disabled:cursor-not-allowed;
	}

	.label-primary {
		@apply label mb-1 whitespace-nowrap text-xs capitalize;
	}

	.input-primary-invoice {
		@apply variant-soft bg-surface-100-800-token border-surface-100-800-token w-full rounded-lg border-none py-2 read-only:text-surface-500-400-token disabled:text-surface-500-400-token read-only:cursor-not-allowed focus:border-none focus:ring-0 disabled:cursor-not-allowed;
	}

	.input-invoice {
		@apply hover:input-primary-invoice focus:input-primary-invoice m-0 w-full truncate border-none bg-transparent px-0 text-sm tabular-nums transition-all hover:px-2 focus:px-2;
	}

	.card-primary {
		@apply variant-soft-surface bg-surface-50-900-token flex flex-col items-center justify-center rounded-lg border border-surface-100 hover:bg-surface-100 dark:border-surface-800 dark:hover:bg-surface-800;
	}
}

@layer utilities {
	.font-wide {
		font-stretch: 125%;
	}

	/* Hide scrollbar for Chrome, Safari and Opera */
	.no-scrollbar::-webkit-scrollbar {
		display: none;
	}

	/* Hide scrollbar for IE, Edge and Firefox */
	.no-scrollbar {
		-ms-overflow-style: none; /* IE and Edge */
		scrollbar-width: none; /* Firefox */
	}

	/* dynamic viewport */
	.min-h-dvh {
		min-height: 100vh;
		min-height: 100dvh;
	}

	.min-h-svh {
		min-height: 100vh;
		min-height: 100svh;
	}

	.min-h-lvh {
		min-height: 100vh;
		min-height: 100lvh;
	}

	.h-dvh {
		height: 100vh;
		height: 100dvh;
	}

	.h-svh {
		height: 100vh;
		height: 100svh;
	}

	.h-lvh {
		height: 100vh;
		height: 100lvh;
	}
}
